<!DOCTYPE html>
<html>
<head>
<meta  content="text/html; charset=utf-8" />
<title></title>
<link href="https://fonts.googleapis.com/css?family=Varela+Round&amp;subset=hebrew,latin-ext,vietnamese" rel="stylesheet">
<link rel="stylesheet" href="../public/css/main.css">

</head>
<body>
<div id="wrapper1">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo"> <span class="icon icon-cogs"></span>
				<h1><a href="#">BasketBall</a></h1>
				<img src="../public/img/net.png" alt="">
				<br>
				<img src="../public/img/basketball.png" alt="">
		</div>
		</div>
	 </div>
</div>

	<div id="wrapper2">

			<div class="title">
				<h2>Welcome to our website</h2>
			</div>
	<form method=post action="/process/">
			<div class="login">
			  <div class="login-header">
			    <h1>Login</h1>
			  </div>
			  <div class="login-form">
			    <h3>Username:</h3>
			    <input type="text" placeholder="Username" name="uname" required/ ><br>
			    <h3>Password:</h3>
			    <input type="password" placeholder="Password" password="psw" required/>
			    <br>
              <button type="submit">로그인</button>
              <button text-decoration="none"><a text-decoration="none" class="login-button" href="/process/adduser">회원가입</a></button>

			  </div>
			</div>
	</div>
</form>
<div id="footer" class="container">
	<div class="title">
		<h2>Team</h2>
		<span class="byline">Software engineering</span>
	</div>
	<ul class="contact">
		<li><span><h4>팀장:한호정</4></span></a></li>
		<li><span><h4>팀원:심재민</4></span></a></li>
		<li><span><h4>팀원:김동현</4></span></a></li>
		<li><span><h4>팀원:황도훈</4></span></a></li>
		<li><span><h4>팀원:이현우</4></span></a></li>
	</ul>
</div>
<div id="copyright" class="container">
	<p>소프트웨어 공학. | 상명대학교 컴퓨터과학과 | 난.소.공.</p>
</div>
</body>
</html>
